<% title "Dashboard:" %>
	<div class="home-container">	
        <div class="row-fluid">
          <div class="span5">

            <%= image_tag("graph.png",:class => "img-rounded") %> 
 
          </div>
          <div class="span7">
                 <h1 class= "title1">Discover new metrics.</h1>
	        <div class="row-fluid">
	          <div class="span12">
	          	<ul class="nav nav-pills">
	  				<li class="active">
	   		 			<%= link_to t(:Entra_en_tu_dashboard, scope: :'myinfo.menu'), new_user_session_path, :method=>'get'%>
	  				</li>
  				</ul>
	          </div>
	        </div>
          </div>
        </div>
    </div>