<head>
	<title>Checkbox</title>
	<script type="text/javascript">
		var checkDisplay = function(check, form) { //check ID, form ID
			form = document.getElementById(form), check = document.getElementById(check);
			check.onclick = function(){
				form.style.display = (this.checked) ? "none" : "block";
				form.reset();
			};
			check.onclick();
		};
	</script>
</head>
<h2> <font color="#808080"><i class="icon-gift"></i>  Oferta Checkin: </font><font color="#ff6e00"> <%= @venue.venue_name %></font></h2>
<p> A continuacion aparecen todos los detalles de la oferta actualmente activa</p>
<body>	
<hr>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="row"><div class="span8"><b>Descripcion oferta:  </b> Recibe ererererere</div></div>
			<div class="row"><div class="span8"><b>Post Facebook en muro:  </b> Recibe ererererere</div></div>
			<div class="row-fluid">
				<div class="row">
				  <div class="span6"><h3><i class="icon-qrcode"></i>  Cupon1</h3>
				  	<div class="row-fluid"><div class="span12"><b>Cupon texto:  </b> Recibe croquetas</div></div>
				  	<div class="row-fluid"><div class="span12"><b>Influencia Min:  </b> 10%</div></div>
				  	<div class="row-fluid"><div class="span12"><b>Validez desde:  </b> 02-03-2012</div></div>
				  	<div class="row-fluid"><div class="span12"><b>Validez hasta:  </b> 05-03-2012</div></div>
				  	<div class="row-fluid"><div class="span12"><b>Tipo:  </b> SOCIAL</div></div>
				  	<div class="row-fluid"><div class="span12"><a href="#" rel="tooltip" title="Cupon que reciben tus clientes al compartir Cupon1 con tres amigos."><b>-Cupon Social:  </b></a> Recibe ererererere</div></div>
				  	<div class="row-fluid"><div class="span12"><b>-Cupon Social Validez desde:  </b> Recibe ererererere</div></div>
				  	<div class="row-fluid"><div class="span12"><b>-Cupon Social Validez desde:  </b> Recibe ererererere</div></div>
				  </div>
				  <div class="span6"><h3><i class="icon-qrcode"></i>  Cupon2</h3>
				  	<div class="row-fluid"><div class="span12"><b>Cupon texto:  </b> Recibe croquetas</div></div>
				  	<div class="row-fluid"><div class="span12"><b>Influencia Min:  </b> 10%</div></div>
				  	<div class="row-fluid"><div class="span12"><b>Validez desde:  </b> 02-03-2012</div></div>
				  	<div class="row-fluid"><div class="span12"><b>Validez hasta:  </b> 05-03-2012</div></div>
				  	<div class="row-fluid"><div class="span12"><b>Tipo:  </b> INDIVIDUAL</div></div>
				  </div> 
				</div>

			</div>
		</div>			
	</div>
	<input type="checkbox" id="check" />
	<form id="form">
		<input type="checkbox" /><input type="text" />
	</form>
	<script type="text/javascript">
	checkDisplay("check", "form");
	</script>
</body>
