<head>
	<title>Checkbox</title>
	<script type="text/javascript">
		var checkDisplay = function(check, form) { //check ID, form ID
			form = document.getElementById(form), check = document.getElementById(check);
			check.onclick = function(){
				form.style.display = (this.checked) ? "none" : "block";
				form.reset();
			};
			check.onclick();
		};

    jQuery(function ($) {
        $("a").tooltip()
    });
	</script>
</head>

<p> A continuacion aparecen todos los detalles procesados de la oferta actualmente activa que has creado</p>
	<div class="container-fluid">
	  <div class = "well horizontal">
		<div class="row-fluid">
		    <div class="span12"><h2> <font color="#808080"><i class="icon-qrcode"></i>  Oferta Checkin: </font><font color="#ff6e00"> <%= @venue.venue_name %></font></h2><hr id = "offer_hr"></div>

		    <div class="row-fluid"><div class="span12"><b>Descripcion oferta:  </b> Descuento del 40% en todas las bebidas</div>
		    <div class="row-fluid"><div class="span12"><b>Post Facebook en muro:  </b> I love ThanxUp</div>
		  	<div class="row-fluid"><div class="span12"><b>Texto del Cup贸n:  </b>Descuento del 40% en todas las bebidas </div></div>
		  	<div class="row-fluid"><div class="span12"><b>Influencia Minima para conseguir descuento:  </b> 10%</div></div>
		  	<div class="row-fluid"><div class="span12"><b>Validez cup贸n desde:  </b> 02-03-2012</div></div>
		  	<div class="row-fluid"><div class="span12"><b>Validez cup贸n hasta:  </b> 05-03-2012</div></div>
		  	<div class="row-fluid"><div class="span12"><a href="#"  id = tooltop rel="tooltip" title="SOCIAL: Por compartir con tres amigos, tu le das otro cupon  INDIVIDUAL: Cup贸n no se puede compartir "><b>Tipo: </a></b></b> SOCIAL</div></div>
		  	<div class="row-fluid"><div class="span12"><a href="#"  id = tooltop rel="tooltip" title="Cupon que reciben tus clientes al compartir Cupon1 con tres amigos."><b>-Cupon Social:  </b></a> Comparte con tres amigos y llevate una comida gratis</div></div>
		  	<div class="row-fluid"><div class="span12"><b>-Cupon Social Validez desde:  </b> Recibe ererererere</div></div>
		  	<div class="row-fluid"><div class="span12"><b>-Cupon Social Validez desde:  </b> Recibe ererererere</div></div>
		</div>
	</div>
	</div>			

