<% title "Data:" %>
	<div class="home-container">	
		 <div id="graph"></div>
    </div>
    <script type="text/javascript">
  // Use Morris.Bar
Morris.Area({
  element: 'graph',
  behaveLikeLine: true,
  data: [
    {
        Dia: '2013-07-27',
        TotalVisitas: 100,
        VisitasRecurrentes: 90
    },
    {
        Dia: '2013-07-28',
        TotalVisitas: 34,
        VisitasRecurrentes: 4
    },
    {
        Dia: '2013-07-29',
        TotalVisitas: 39,
        VisitasRecurrentes: 19
    },
    {
        Dia: '2013-07-30',
        TotalVisitas: 0,
        VisitasRecurrentes: 0
    },
    {
        Dia: '2013-07-31',
        TotalVisitas: 0,
        VisitasRecurrentes: 0
    },
    {
        Dia: '2013-08-01',
        TotalVisitas: 0,
        VisitasRecurrentes: 0
    },
    {
        Dia: '2013-08-02',
        TotalVisitas: 0,
        VisitasRecurrentes: 0
    },
    {
        Dia: '2013-08-03',
        TotalVisitas: 0,
        VisitasRecurrentes: 0
    },
    {
        Dia: '2013-08-04',
        TotalVisitas: 0,
        VisitasRecurrentes: 0
    },
    {
        Dia: '2013-08-05',
        TotalVisitas: 0,
        VisitasRecurrentes: 0
    },
    {
        Dia: '2013-08-06',
        TotalVisitas: 0,
        VisitasRecurrentes: 0
    },
    {
        Dia: '2013-08-07',
        TotalVisitas: 0,
        VisitasRecurrentes: 0
    },
    {
        Dia: '2013-08-08',
        TotalVisitas: 0,
        VisitasRecurrentes: 0
    },
    {
        Dia: '2013-08-09',
        TotalVisitas: 0,
        VisitasRecurrentes: 0
    },
    {
        Dia: '2013-08-10',
        TotalVisitas: 0,
        VisitasRecurrentes: 0
    },
    {
        Dia: '2013-08-11',
        TotalVisitas: 0,
        VisitasRecurrentes: 0
    },
    {
        Dia: '2013-08-12',
        TotalVisitas: 0,
        VisitasRecurrentes: 0
    },
    {
        Dia: '2013-08-13',
        TotalVisitas: 0,
        VisitasRecurrentes: 0
    },
    {
        Dia: '2013-08-14',
        TotalVisitas: 0,
        VisitasRecurrentes: 0
    },
    {
        Dia: '2013-08-15',
        TotalVisitas: 0,
        VisitasRecurrentes: 0
    },
    {
        Dia: '2013-08-16',
        TotalVisitas: 0,
        VisitasRecurrentes: 0
    },
    {
        Dia: '2013-08-17',
        TotalVisitas: 0,
        VisitasRecurrentes: 0
    },
    {
        Dia: '2013-08-18',
        TotalVisitas: 0,
        VisitasRecurrentes: 0
    },
    {
        Dia: '2013-08-19',
        TotalVisitas: 0,
        VisitasRecurrentes: 0
    },
    {
        Dia: '2013-08-20',
        TotalVisitas: 0,
        VisitasRecurrentes: 0
    },
    {
        Dia: '2013-08-21',
        TotalVisitas: 0,
        VisitasRecurrentes: 0
    },
    {
        Dia: '2013-08-22',
        TotalVisitas: 30,
        VisitasRecurrentes: 20
    },
    {
        Dia: '2013-08-23',
        TotalVisitas: 20,
        VisitasRecurrentes: 10
    },
    {
        Dia: '2013-08-24',
        TotalVisitas: 6,
        VisitasRecurrentes: 4
    },
    {
        Dia: '2013-08-25',
        TotalVisitas: 2,
        VisitasRecurrentes: 0
    },
    {
        Dia: '2013-08-26',
        TotalVisitas: 45,
        VisitasRecurrentes: 0
    }
],
  xkey: 'Dia',
  ykeys: ['TotalVisitas', 'VisitasRecurrentes'],
  labels: ['Total Visitas', 'Visitas Recurrentes'],
  xLabelAngle: 60
});</script>
