<% title "Data:" %>
	

<hr>
    <div class="graph-container">
      <div class="caption">Jaguar 'E' Type vehicles in the UK</div>
      <div id="graph" class="graph"></div>
    </div>


    <div class="graph-container">
      <div class="caption">iPhone CPU benchmarks</div>
      <div id="graph" class="graph"></div>
    </div>


    <div class="graph-container">
      <div class="caption">Jaguar 'E' Type vehicles in the UK</div>
      <div id="graph" class="graph"></div>
    </div>

<div class="row">
  <div class="span12">
    <div class="graph-container">
      <div class="caption">iPhone CPU benchmarks</div>
      <div id="graph" class="graph"></div>
    </div>
  </div>
</div>





    <script type="text/javascript">
  // Use Morris.Bar
  window.onresize = resize;
  var cupon_t = <%=@cupons_used.html_safe %>
  cat = Morris.Area({
  element: 'graph',
  behaveLikeLine: true,
  data: cupon_t,  
  xkey: 'x',
  ykeys: 'y',
  labels: ['Total Visitas', 'Visitas Recurrentes'],
  xLabelAngle: 60
});
  function resize()
{
 setTimeout(function(){cat.redraw()},500)

}


</script>
