<% title "Data:" %>
	<div class="container">	
    <div class="row">
  <div class="span6">
    <div class="graph-container">
      <div class="caption">Jaguar 'E' Type vehicles in the UK</div>
      <div id="graph" class="graph"></div>
    </div>
  </div>
  <div class="span6">
    <div class="graph-container">
      <div class="caption">iPhone CPU benchmarks</div>
      <div id="graph" class="graph"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span6">
    <div class="graph-container">
      <div class="caption">Quarterly Apple iOS device unit sales</div>
      <div id="graph" class="graph"></div>
    </div>
  </div>
  <div class="span6">
    <div class="graph-container">
      <div class="caption">Donut flavours</div>
      <div id="graph" class="graph"></div>
    </div>
  </div>
</div>
    </div>





    <script type="text/javascript">
  // Use Morris.Bar
  var cupon_t = <%=@cupon.html_safe %>
Morris.Area({
  element: 'graph',
  behaveLikeLine: true,
  data: cupon_t,  
  xkey: 'x',
  ykeys: 'y',
  labels: ['Total Visitas', 'Visitas Recurrentes'],
  xLabelAngle: 60
});</script>
