<p>Hello <%= @resource.username %>!</p>

<p>Para cambiar tu contrase침a del Dashboard ThanxUp, haz click en este lin.</p>

<p><%= link_to t(:change_password, scope: :'myinfo.buttons'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, :username => @resource.username) %></p>

<p>Si no quieres cambiar tu contrase침a, ignora este email</p>
<p>Tu contrase침a con cambiar치 hasta que entres en este link y hagas el cambio</p>

<p> Thanx ;)</p>