    <p class="muted credit">
    <small><b>NOTICE:</b> Esta es una versión beta de ThanxUp. Si vas a acceder aquí recuerda que la información puede no ser 100% correcta.<br />
    NO legal guarantee any information saved is maintained, private or secure. Use common sense.<br />
    </small></p>
